/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Your Name Here
==============================================

TABLE OF CONTENTS:

0. Reset
1. Main Layout
2. Content

==============================================
*/

/* 0. Reset ================================= */
@import 'reset';
@import 'variables';

/* 1. Main Layout ================================= */



*{ /*applies to everything to the page*/
	box-sizing: border-box;
	text-decoration: none;
}

body{
	font-family: 'Helvetica', sans serif;
	line-height: 1.6;
	background-image: linear-gradient(to right, rgba(191, 168, 37, 0.756) 0%, rgb(250, 232, 173) 100%),url('w3css.gif');
	background-blend-mode:lighten;
}


/* 2. Content ================================= */


h1{
	font-size: 1.35em;
	font-weight: bold;
	text-align: center;
	margin: 20px 0 30px;
}

a{
	color:$primaryColor;
}

h2{
	font-size: 1.5em;
}

h4{
	font-weight: bold;
	margin:20px 0 20px 0;
}

p{
	font-size: .9em;
}


img{
	max-width: 100%;
}




.main-header{
	display: flex;
	flex-direction: column;

	background-color: white;
	.main-nav{
		text-transform: uppercase;
		text-align: center;
		margin: 20px 0;
		color: $primaryColor;
	
		li:hover{
			color:$backgroundColor;
			background: $primaryColor;
		}
	}

	
}

.banner{
	// background: $secondaryColor;
	background-image: url('/dist/img/abstract_bkgrnd.jpg');
	background-size:cover;
	text-align: center;
	padding: 3.2em 0;
	margin-bottom: 48px;

	.company-logo{
		transform: rotate(-37deg);
		transition-delay: 0.5s;
		transition-duration: .5s;

		img{
			width: 190px;
		}
	}


	.headlines{
		width:40%;
		height: auto;
		transform: translateX(95%) translateY(-25%) rotate(-37deg);
		transition-property: transform, color;
		.headline{
			font-size:3.5rem;
			font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
			color: rgba(255,255,255,.5); 		
			margin: 10px;
			transition-duration: .5s;
		}
		
	}

	&:hover{

		.company-logo{
			transform: rotate(0deg);
			
		}
		.headlines{
			transform:translateY(0) rotate(0);
			background: rgba(191, 185, 185, 0.5);
			width: 100%;

			.headline{
				font-size:2rem;
				color: $primaryColor;
			}
		}
	}
	

}


.col{
	background: $backgroundColor;
	padding: 1em;
	border-radius: 5px;
	margin: 0 .5em .8em;
	height:390px;
	overflow: hidden;
	transition: height 2s;

	&:hover{
		height:900px;
		transition-duration: 0.2s;
		
	}
	
	.box-title{
		color: $primaryColor;
		font-size: 2rem;
		text-align: center;

	}
	

	.box-description{
		margin:20px;
		
		.pricing{
			@extend .box-title;
			color: $secondaryColor;
	
		}

		.features{
			list-style: disc;
			margin-top:10px;
		}
	}
	.button{
		background: $primaryColor;
		color: #fff;
		padding: 15px;
		border-radius:7px;
		
	}
}

.highlighted{

	box-shadow: 0px 10px 25px $primaryColor;
}


footer{
	background: $backgroundColor;
	text-align: center;
	padding: 30px;
}


@media screen and (min-width: 768px){

	.row, .main-header, nav ul{
		display: flex;
	}

	.row{
		margin: 0 1.5em;
	}
	.main-header{
		align-items: center;
	}

	.col{
		flex: 1;
		display: flex;
		flex-direction: column;
	}

	.button{
		margin-top: auto;
	}

	nav ul li{
		padding: 20px;
	}
}

@media screen and (min-width: 1220px){

	.main-header {
    flex-direction: row;
    justify-content: space-around;
	}
}