/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Your Name Here
==============================================

TABLE OF CONTENTS:

0. Reset
1. Main Layout
2. Content

==============================================
*/

/* 0. Reset ================================= */
@import 'reset';


$primaryColor: #093a58;
$secondaryColor: #3acec2;

/* 1. Main Layout ================================= */



*{ /*applies to everything to the page*/
	box-sizing: border-box;
	text-decoration: none;
}

body{
	font-family: 'Varela Round', sans serif;
	color: #3a3a3a;
	line-height: 1.6;
}


/* 2. Content ================================= */


h1{
	font-size: 1.35em;
	font-weight: bold;
	text-align: center;
	margin: 20px 0 30px;
}

h2, a{
	color:$primaryColor
}

h2{
	font-size: 1.5em;
}

h4{
	font-weight: bold;
	margin:20px 0 20px 0;
}

p{
	font-size: .9em;
}


img{
	max-width: 100%;
}




.main-header{
	display: flex;
	flex-direction: column;

	nav li{
		text-transform: uppercase;
		text-align: center;
		margin: 20px 0;
		
	}
	
	nav li a{
		color: $secondaryColor;
	}
}

.banner{
	// background: $secondaryColor;
	background-image: url(/dist/img/abstract_bkgrnd.jpg);
	background-size:cover;
	text-align: center;
	padding: 3.2em 0;
	margin-bottom: 48px;

	>img{
		width: 190px;
	}

	.headline{
		color: #fff;
		margin: 30px;
		font-weight: bold;
	}
	
	.tagline{
		color: #fff;
	}
}



.col{
	background: #d9e4ea;
	padding: 1em;
	border-radius: 5px;
	margin: 0 .5em .8em;
}

.box-description{
	margin:20px;

	.features{
		list-style: disc;
		margin-top:10px;
	}
}
.button{
	background: $secondaryColor;
	color: #fff;
	padding: 15px;
	border-radius:7px;
	margin: 20px; 
}

footer{
	background: #d9e4ea;
	text-align: center;
	padding: 30px;
}


@media screen and (min-width: 768px){

	.row, .main-header, nav ul{
		display: flex;
	}

	.row{
		margin: 0 1.5em;
	}
	.main-header{
		align-items: center;
	}

	.col{
		flex: 1;
		display: flex;
		flex-direction: column;
	}

	.button{
		margin-top: auto;
	}

	nav ul li{
		padding: 20px;
	}
}

@media screen and (min-width: 1220px){

	.main-header {
    flex-direction: row;
    justify-content: space-around;
	}
}